[Unit]
Description=ydotoold (virtual keyboard for Quassel)

[Service]
Type=simple
ExecStart=/usr/bin/env ydotoold --socket-path=%t/.ydotool_socket
Restart=on-failure
RestartSec=3
